.container {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.user-type {
  text-align: center;
  margin-bottom: 40px;
}

.user-type h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.user-type-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-type-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.user-type-buttons button:hover {
  background-color: #0056b3;
}

.form {
  text-align: center;
}

.form h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.form p {
  color: red;
  margin-bottom: 10px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.form input {
  width: 200px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}
